:root{
    --gray-color: #161b22;
    --whiteLow-color: #7e8691;
    --green-color: #008000;
    --greenO-color: #00800080;
    --purple-color: #e1bbe6;

    --height-header: 69px;
}
$black-color: var(--black-color);
$white-color: var(--white-color);
$whiteLow-color: var(--whiteLow-color);
$gray-color: var(--gray-color);
$green-color: var(--green-color);
$greenO-color: var(--greenO-color);
$purple-color: var(--purple-color);

$height-header: var(--height-header);